<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700;800&family=Nunito+Sans:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <title>Partida Perfecta</title>
</head>
<body>
{{> header}}
<div class="container text-center my-5">
    <div class="card p-5 shadow-lg">
        <div class="card-body">
            <h1 class="text-rosa mb-4">{{mensaje_victoria}}</h1>
            <p class="lead text-light">Hiciste historia en el juego. No quedan más preguntas de tu nivel por responder.</p>
            <hr class="my-4">
            <a href="/lobby" class="btn btn-cyan btn-lg">Volver al Lobby a disfrutar tu gloria</a>
        </div>
    </div>
</div>
{{> footer}}