<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/lobby.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <title>Preguntados - Lobby</title>
</head>

{{> header}}

<main class="container py-4">
<!--    datos para los graficos-->
    <div id="usuarios_por_pais_data" data-json='{{{ json_pais }}}'></div>
    <div id="usuarios_por_edad_data" data-json='{{{ json_edad }}}'></div>
    <div id="usuarios_por_sexo_data" data-json='{{{ json_sexo }}}'></div>
    <div id="usuarios_tiempo_data" data-json='{{{ json_usuarios_tiempo }}}'></div>
    <div id="preguntas_tiempo_data" data-json='{{{ json_preguntas_tiempo }}}'></div>
    <div id="partidas_tiempo_data" data-json='{{{ json_partidas_tiempo }}}'></div>
    <div id="acierto_dona_data" data-json='{{{ json_acierto_dona }}}'></div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card shadow border-0 bg-dark text-white p-4 text-center rounded-3">
                <h2 class="mb-1">📊 Estadísticas Generales</h2>
                {{#filtro_todo}}<span class="badge bg-secondary border border-light-subtle fs-6 fw-normal">Histórico Completo</span>{{/filtro_todo}}
                {{#filtro_hoy}}<span class="badge bg-success fs-6 fw-normal">Filtrado por: Hoy</span>{{/filtro_hoy}}
                {{#filtro_semana}}<span class="badge bg-info text-dark fs-6 fw-normal">Filtrado por: Última Semana</span>{{/filtro_semana}}
                {{#filtro_mes}}<span class="badge bg-warning text-dark fs-6 fw-normal">Filtrado por: Último Mes</span>{{/filtro_mes}}
                {{#filtro_anio}}<span class="badge bg-danger fs-6 fw-normal">Filtrado por: Último Año</span>{{/filtro_anio}}
                <p class="lead mb-0 text-white-50">El rendimiento global del juego en tiempo real</p>
            </div>
            <div class="col-md-5">
                <form action="/index.php" method="GET" class="d-flex gap-2 justify-content-md-end my-2">
                    <input type="hidden" name="controller" value="PanelAdmin">
                    <input type="hidden" name="method" value="verEstadisticasAdmin">

                    <select name="filtro_fecha" class="form-select w-auto shadow-sm" onchange="this.form.submit()">
                        <option value="todo" {{#filtro_todo}}selected{{/filtro_todo}}>Histórico Completo</option>
                        <option value="hoy" {{#filtro_hoy}}selected{{/filtro_hoy}}>Hoy</option>
                        <option value="semana" {{#filtro_semana}}selected{{/filtro_semana}}>Última Semana</option>
                        <option value="mes" {{#filtro_mes}}selected{{/filtro_mes}}>Último Mes</option>
                        <option value="anio" {{#filtro_anio}}selected{{/filtro_anio}}>Último Año</option>
                    </select>
                </form>

                <form action="PanelAdmin/generarReportePdf" method="POST" id="form-pdf">
                    <input type="hidden" name="img_pais" id="input_img_pais">
                    <input type="hidden" name="img_edad" id="input_img_edad">
                    <input type="hidden" name="img_genero" id="input_img_genero">
                    <input type="hidden" name="img_usuarios_tiempo" id="input_img_usuarios_tiempo">
                    <input type="hidden" name="img_preguntas_tiempo" id="input_img_preguntas_tiempo">
                    <input type="hidden" name="img_partidas_tiempo" id="input_img_partidas_tiempo">
                    <input type="hidden" name="img_acierto_dona" id="input_img_acierto_dona">
                    <button type="submit" id="btn-exportar-pdf" class="btn btn-secondary shadow-sm fw-medium" >
                        🖨️ Descargar Reporte PDF
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <div class="text-primary mb-2"><i class="bi bi-people-fill fs-1"></i></div>
                    <h4>Usuarios creados</h4>

                    <div id="usuarios_tiempo_div" style="width: 100%; height: 200px;"></div>

                    <ul class="list-group list-group-flush text-start mt-2" style="max-height: 150px; overflow-y: auto;">
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent px-0 py-1">
                            <span class="small fw-medium text-secondary">Filtrado actual
                                <strong>
                                {{#filtro_todo}}Histórico Completo{{/filtro_todo}}
                                {{#filtro_hoy}}Hoy{{/filtro_hoy}}
                                {{#filtro_semana}}Última Semana{{/filtro_semana}}
                                {{#filtro_mes}}Último Mes{{/filtro_mes}}
                                {{#filtro_anio}}Último Año{{/filtro_anio}}
                                 </strong>
                            </span>
                            <span class="badge bg-dark  text-white rounded-pill px-2 py-1">{{total_usuarios}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <div class="text-warning mb-2"><i class="bi bi-controller fs-1"></i></div>
                    <h4>Preguntas creadas</h4>

                    <div id="preguntas_tiempo_div" style="width: 100%; height: 200px;"></div>

                    <ul class="list-group list-group-flush text-start mt-2">
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent px-0 py-1">
                    <span class="small fw-medium text-secondary">
                        Filtrado actual:
                        <strong>
                            {{#filtro_todo}}Histórico Completo{{/filtro_todo}}
                            {{#filtro_hoy}}Hoy{{/filtro_hoy}}
                            {{#filtro_semana}}Última Semana{{/filtro_semana}}
                            {{#filtro_mes}}Último Mes{{/filtro_mes}}
                            {{#filtro_anio}}Último Año{{/filtro_anio}}
                        </strong>
                    </span>
                            <span class="badge bg-dark  text-white rounded-pill px-2 py-1 fs-6 fw-semibold">{{total_preguntas}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <div class="text-success mb-2"><i class="bi bi-question-circle-fill fs-1"></i></div>
                    <h4>Usuarios creados por país</h4>

                    <div id="pais_div" style="width: 100%; height: 200px;"></div>

                    <ul class="list-group list-group-flush text-start mt-2" style="max-height: 150px; overflow-y: auto;">
                        {{#usuarios_por_pais}}
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent px-0 py-2">
                                <span class="fw-medium text-secondary">{{pais}}</span>
                                <span class="badge bg-dark  text-white rounded-pill px-3 py-1 fs-6">{{cantidad}}</span>
                            </li>
                        {{/usuarios_por_pais}}
                        {{^usuarios_por_pais}}
                            <li class="list-group-item text-muted bg-transparent text-center py-4">No hay datos disponibles.</li>
                        {{/usuarios_por_pais}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <h4 class="card-title mb-4 fw-semibold text-start">Usuarios creados por Rango de Edad</h4>

                    <div id="edad_div" style="width: 100%; height: 200px;"></div>

                    <ul class="list-group list-group-flush text-start mt-2">
                        {{#usuarios_por_edad}}
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent px-0 py-2">
                                <span class="fw-medium text-secondary">{{rango_edad}}</span>
                                <span class="badge bg-dark rounded-pill px-3 py-1 fs-6">{{cantidad}}</span>
                            </li>
                        {{/usuarios_por_edad}}
                        {{^usuarios_por_edad}}
                            <li class="list-group-item text-muted bg-transparent text-center py-4">No hay datos disponibles.</li>
                        {{/usuarios_por_edad}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <h4 class="card-title mb-4 fw-semibold text-start">Usuarios creados por Género</h4>

                    <div id="genero_div" style="width: 100%; height: 200px;"></div>

                    <ul class="list-group list-group-flush text-start mt-2">
                        {{#usuarios_por_sexo}}
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent px-0 py-2">
                                <span class="fw-medium text-secondary">{{sexo}}</span>
                                <span class="badge bg-dark  text-white rounded-pill px-3 py-1 fs-6 fw-semibold">{{cantidad}}</span>
                            </li>
                        {{/usuarios_por_sexo}}
                        {{^usuarios_por_sexo}}
                            <li class="list-group-item text-muted bg-transparent text-center py-4">No hay datos disponibles.</li>
                        {{/usuarios_por_sexo}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <div class="text-warning mb-2"><i class="bi bi-controller fs-1"></i></div>
                    <h4>Partidas Jugadas</h4>

                    <div id="partidas_tiempo_div" style="width: 100%; height: 200px;"></div>

                    <ul class="list-group list-group-flush text-start mt-2">
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent px-0 py-1">
                    <span class="small fw-medium text-secondary">
                        Filtrado actual:
                        <strong>
                            {{#filtro_todo}}Histórico Completo{{/filtro_todo}}
                            {{#filtro_hoy}}Hoy{{/filtro_hoy}}
                            {{#filtro_semana}}Última Semana{{/filtro_semana}}
                            {{#filtro_mes}}Último Mes{{/filtro_mes}}
                            {{#filtro_anio}}Último Año{{/filtro_anio}}
                        </strong>
                    </span>
                            <span class="badge bg-dark text-white rounded-pill px-2 py-1 fs-6 fw-semibold">{{total_partidas}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <div class="text-success mb-2"><i class="bi bi-graph-up-arrow fs-1"></i></div>
                    <h4>Promedio de aciertos global</h4>

                    <div id="acierto_dona_div" style="width: 100%; height: 200px;"></div>

                    <ul class="list-group list-group-flush text-start mt-2">
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent px-0 py-1">
                    <span class="small fw-medium text-secondary">
                        Filtrado actual:
                        <strong>
                            {{#filtro_todo}}Histórico Completo{{/filtro_todo}}
                            {{#filtro_hoy}}Hoy{{/filtro_hoy}}
                            {{#filtro_semana}}Última Semana{{/filtro_semana}}
                            {{#filtro_mes}}Último Mes{{/filtro_mes}}
                            {{#filtro_anio}}Último Año{{/filtro_anio}}
                        </strong>
                    </span>
                            <span class="badge bg-dark text-white rounded-pill px-2 py-1 fs-6 fw-semibold">{{acierto_global}}%</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <div class="text-dark mb-2"><i class="bi bi-trophy-fill fs-1 text-warning"></i></div>
                    <h4>Preguntas hechas por usuarios</h4>
                    <p class="display-6 fw-bold my-3 text-secondary">{{record_maximo}}</p>
                    <span class="badge bg-light text-dark border px-2 py-1">Por {{usuario_record}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100 rounded-3">
                <div class="card-body text-center py-4">
                    <div class="text-secondary mb-2"><i class="bi bi-calendar-check-fill fs-1 text-primary"></i></div>
                    <h4>Usuarios nuevos</h4>
                    <p class="display-6 fw-bold my-3 text-secondary">{{registros_hoy}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 text-center">
            <a href="/index.php?controller=lobby&method=mostrar" class="btn btn-outline-secondary btn-lg px-4 shadow-sm border-0 fw-medium">
                Volver al Lobby
            </a>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../public/js/graficosEstadistica.js"></script>
</main>

{{> footer}}